.disc{
    padding-top:'100px';
    margin:'100px';
}
.fivestar{
    color:orange;
}
.butto{
   background-color: rgb(20, 20, 99);
   color:white;
   height:26px;
   width: 100px;
   border-radius: 8px;
   margin: 10px;
   border: none;
   
}