.productimg {

    background-image: url('https://www.jiomart.com/images/product/original/rvwl506j0h/rylan-plastic-non-ticking-classic-digital-wall-clock-8-x-3-8-x-5-centimeters-product-images-orvwl506j0h-p601439831-3-202305130013.jpg?im=Resize=(1000,1000)');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.productname{
    padding-top: 400px;
}

.img{
     height: 200px; width: 400px;
}
.cardbody{
     height: 400px;
      width: 250px;
       box-Shadow: rgba(0,0,0,0.1)0px 4px 12px;
        border: 'none';
        margin:20px;
        margin-left:20px;
}
.bimg{
     height: 250px;
      width: 200px;
      align-items: center;
}
.btn1 {
    height: 25px;
    width: 55px;
    border-Radius: 5px;
    border: 1px solid darkblue
}
.btn2{
     background: darkblue;
      border-Radius: 5px;
       color: white;
        border: none;
         margin-Top: 10px;
}
.desc{
     text-Align: left;
     margin-Top: 150px 
}